<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SignIn/SignUp Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container" id="container">
    	<div class="form-container sign-up-container">
    		<form action="/home" method="post">
          <img src="images/user.png" alt="user-img">
    			<h1>Create Account</h1>
    			<input type="text" placeholder="Name" required/>
    			<input type="email" placeholder="Email" required />
          <input type="password" id="password" placeholder="Password" />
          <i class="fa-solid fa-eye-slash fa-sm" id="eye"></i>
    			<button>Sign Up</button>
    		</form>
    	</div>
    	<div class="form-container sign-in-container">
    		<form action="/home" method="post">
    			<h1>Sign in</h1>
    			<input type="email" placeholder="Email" required/>
    			<input type="password" placeholder="Password" />
    			<a href="#">Forgot your password?</a>
    			<button>Sign In</button>
    		</form>
    	</div>
    	<div class="overlay-container">
    		<div class="overlay">
    			<div class="overlay-panel overlay-left">
    				<h1>Welcome Back!</h1>
    				<p>Already have an account, kindly signin</p>
    				<button class="ghost" id="signIn">Sign In</button>
    			</div>
    			<div class="overlay-panel overlay-right">
    				<h1>New here!</h1>
    				<p>Click below to enter your personal details and get started</p>
    				<button class="ghost" id="signUp">Sign Up</button>
    			</div>
    		</div>
    	</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <script>
      // sliding function
      $('#signUp').click(function(){
        $('#container').addClass("right-panel-active");
       });

      $('#signIn').click(function(){
        $('#container').removeClass("right-panel-active");
       });
    // eye function
     $("#eye").click(function(){
      $(this).toggleClass('fa-eye');
       var x = $("#password").attr("type");
       if(x==="password"){
         $("#password").attr("type","text");
       }else{
         $("#password").attr("type","password");
       }
     });
    </script>
  </body>
</html>
